    * {
        margin: 0;
        padding: 0;
        list-style: none;
        box-sizing: border-box;
        text-decoration: none;
        color: #070707;
        font-family: 'Roboto', sans-serif;
    }
    
    .wrapp {
        max-width: 1200px;
        margin: 0 auto;
    }
    
    .header {
        position: sticky;
        top: 0;
        background-color: #fff;
        z-index: 1;
    }
    
    .menu {
        position: relative;
        height: 70px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 30px;
        transition: 0.3s ease-in-out;
        &:after {
            content: '';
            display: block;
            height: 2px;
            width: 100%;
            position: absolute;
            bottom: 0;
            left: 0;
            background: linear-gradient(91deg, rgb(73, 75, 78) 26%, rgb(229, 229, 229) 80%);
        }
        &__item {
            display: block;
            position: relative;
            overflow: hidden;
            text-transform: uppercase;
            letter-spacing: 4px;
            font-size: 18px;
            font-weight: 500;
            &::after {
                content: '';
                position: absolute;
                width: 100%;
                height: 100%;
                left: -100%;
                transition: 0.3s ease-in-out;
                background-color: #070707;
                z-index: -999;
            }
            &:hover {
                &::after {
                    left: 0%;
                }
            }
            &:hover {
                color: #fff;
            }
        }
        &--mobile {
            display: none;
        }
        &--active {
            height: 35px;
            background: linear-gradient(91deg, rgb(73, 75, 78) 26%, rgb(229, 229, 229) 80%);
        }
    }
    
    .icon-bars {
        transition: 0.3s ease-in-out;
    }
    
    .icon-bars:hover {
        color: #FFF;
    }
    
    .title-box {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        flex-wrap: wrap;
        padding: 30px 30px;
        background-color: #F6F6F6;
    }
    
    .title-name {
        font-size: 40px;
        letter-spacing: 4px;
        font-weight: 500;
        font-family: 'Calistoga', cursive;
    }
    
    .title-profession {
        position: relative;
        letter-spacing: 4px;
        font-weight: 500;
        font-size: 30px;
        font-family: 'Calistoga', cursive;
        &:after {
            content: '';
            display: block;
            height: 2px;
            width: 100%;
            position: absolute;
            bottom: 0;
            background: linear-gradient(91deg, #494b4e 26%, #e5e5e5 80%);
        }
    }
    
    .about-box {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: center;
        padding: 30px 30px;
    }
    
    .img {
        max-width: 30%;
        min-width: 280px;
        filter: grayscale(1);
        cursor: pointer;
        transition: 0.3s ease-in-out;
        &:hover {
            filter: grayscale(0);
        }
    }
    
    .about-content {
        flex-basis: 60%;
        text-align: center;
        min-width: 280px;
        padding: 0 10px;
    }
    
    .title {
        display: inline;
        position: relative;
        font-size: 34px;
        letter-spacing: 2px;
        &::after {
            content: '';
            display: block;
            height: 2px;
            width: 100%;
            position: absolute;
            left: 0;
            background: linear-gradient(91deg, #494b4e 26%, #e5e5e5 80%);
        }
    }
    
    .text {
        font-size: 18px;
        line-height: 30px;
        letter-spacing: 1px;
        padding-top: 30px;
    }
    
    .skills-box {
        padding: 30px 0;
        text-align: center;
        background-color: #F6F6F6;
    }
    
    .icon-box {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: wrap;
        &__inner {
            flex-basis: 25%;
            padding: 30px;
        }
    }
    
    .icon {
        width: 90px;
        cursor: pointer;
        transition: 0.3s ease-in-out;
        &:hover {
            transform: scale(0.8);
            filter: grayscale(1);
        }
    }
    
    .icon-git {
        width: 120px;
    }
    
    .icon-figma {
        width: 60px;
    }
    
    .icon-text {
        color: #828282;
        font-size: 14px;
        font-weight: bold;
        padding-top: 10px;
    }
    
    .portfolio {
        text-align: center;
        padding-top: 30px;
    }
    
    .portfolio-box {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: wrap;
        padding-top: 30px;
    }
    
    .portfolio-inner {
        position: relative;
        margin: 30px;
        overflow: hidden;
        max-width: 525px;
        transition: 0.3s ease-in-out;
        &:after {
            content: 'OPEN';
            position: absolute;
            left: -100%;
            font-size: 35px;
            width: 0%;
            transition: 0.3s ease-in-out;
            background: linear-gradient(91deg, #494b4ed6 26%, #e5e5e5cf 80%);
            color: #fff;
            font-weight: bold;
            text-shadow: 3px 5px 2px #474747;
        }
        &:hover {
            &::after {
                width: 100%;
                left: 0%;
            }
        }
    }
    
    .portfolio-img {
        position: relative;
        width: 100%;
        transition: 0.3s ease-in-out;
        &:hover {
            transform: scale(1.1);
            filter: grayscale(1);
        }
    }
    
    .portfolio-text {
        font-size: 25px;
        font-weight: 500;
        background-color: #FFF;
        bottom: 50%;
        left: 0%;
        width: 100%;
        line-height: 40px;
        letter-spacing: 3px;
        transition: 0.3s ease-in-out;
    }
    
    .contact-box {
        text-align: center;
    }
    
    .contact-inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        height: 80px;
        padding: 0 30px;
        margin-top: 30px;
        background-color: #F6F6F6;
    }
    
    .icon-phone {
        color: #0f9a1c;
    }
    
    .icon-mail {
        color: #e80505;
    }
    
    .icon-skype {
        color: #4ab2e8;
    }
    
    .footer-link {
        font-size: 18px;
        font-weight: 500;
        padding: 10px;
        &:hover {
            text-decoration: underline;
        }
    }
    
    .burger-menu {
        display: none;
    }
    
    @import'./media.scss'